body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.gallery{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Ocupando el ancho completo del viewport */
    height: 100vh; /* Ocupando el alto completo del viewport */
    display: flex;
    overflow: hidden;
}

.gallery img {
   width: 0px;
   flex-grow: 1;
   object-fit: cover;
   transition: .5s ease;
}

.gallery img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*Dandole estilo a la card donde se mostrara el clima*/
.card{
    width: 32rem;
    height: 32rem;
    background-color: rgba(12, 12, 12, 0.7);
    border-radius: 10px;
    box-shadow: -1px 2px 6px 5px  #6c6e6ea6;
}

.mensaje{
    font-size: 1.1rem;
}

.form-select{
    background:rgba(231, 228, 228, 0.4);
    color: rgb(43, 42, 51);
    border-radius: 20px;
    font-weight: bold;
    border: solid 2px white;
}

/*Button para cambiar el tema*/
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem; 
    background:rgba(231, 228, 228, 0.4);
    position: absolute;
    top: 17px;
    right: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: solid 2px white;
    color: white;
}
.btn:hover{
    background-color: rgb(51, 57, 58);
    color: white;
    border: solid 2px rgb(35, 77, 109);
}

.message {
    color: white;
}

.github-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white; 
    text-decoration: none;
}
.github-icon:hover{
    color: rgb(146, 187, 194);  
}

/*Para poder cambiar el tema de la pagina*/
.Temas .gallery img{
    filter: brightness(0.4);
}
.Temas .gallery img:hover{
    filter: brightness(0.4) contrast(120%); 
}
.Temas .card{
    background-color: rgba(28, 35, 54, 0.7);
}

/*Responsive de la app del clima*/
@media (max-width:769px){
   
    .row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card{
        width: 22rem;
        box-shadow: -1px 2px 6px 5px  #aeb4b4a6;
    }
}